* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

header {
  background-color: #0d6efd;
  height: 600px;
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
}

.pointer{
  cursor: pointer;
}

.pageatas {
  margin-left: 50px;
  margin-right: 50px;
}

.logo img {
  width: 200px;
  background-color: rgb(255, 255, 255);
}

.pageatas h1 {
  color: #fff;
  letter-spacing: -1px;
  font-size: 35px;
  margin-bottom: -5px;
  margin-top: 25px;
}

.pageatas h3 {
  color: #fff;
  font-size: 20px;
  text-align: justify;
  margin-top: 25px;
}

.tombol {
  width: max-content;
  padding: 10px 60px;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  margin-left: 50px;
  margin-top: 25px;
}

.gambarsamping {
  display: flex;
}

.gambarsamping img {
  width: 600px;
  margin-top: -500px;
  margin-left: auto;
  transform: scaleX(-1);
}

.square {
  border-radius: 0px;
}

.jumbotron {
  background-image: linear-gradient(to right, #007bff, #000);
  color: white;
}

.center-form-login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

icon {
  padding-right: 10px;
  align-items: center;
}

.tomboldw {
  padding: 10px 60px;
  border-radius: 5px;
  color: #000;
  justify-content: center;
}

/* Login dan Register */

.container {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 20px;
}

.container .forms {
  display: flex;
  align-items: center;
  height: 440px;
  width: 200%;
  transition: height 0.2s ease;
}

.container .form {
  width: 50%;
  padding: 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}

.container.active .login {
  margin-left: -50%;
  opacity: 0;
  transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container.active .forms {
  height: 600px;
}

.container .form .title {
  position: relative;
  font-size: 27px;
  font-weight: 600;
}

.form .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color: #4070f4;
  border-radius: 25px;
}

.form .input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}

.input-field input {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}

.input-field button {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
  border-bottom-color: #4070f4;
}

.input-field i {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  color: #999;
  font-size: 23px;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i {
  color: #4070f4;
}

.form .checkbox-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.checkbox-text .checkbox-content {
  display: flex;
  align-items: center;
}

.checkbox-content input {
  margin-right: 10px;
  accent-color: #4070f4;
}

.form .text {
  color: #333;
  font-size: 15px;
}

.form a.text {
  color: #4070f4;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.form .buttonLogin {
  margin-top: 35px;
}

.form .buttonLogin button {
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #4070f4;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttonLogin button:hover {
  background-color: #265df2;
}

.form .login-signup {
  margin-top: 30px;
  text-align: center;
}

.team {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.team h3 {
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.team p {
  font-style: italic;
  font-size: 18px;
  color: #ababab;
}

.tim {
  margin-top: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tim h6 {
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
  font-size: 18px;
  font-weight: bold;
}

.support img {
  width: 50px;
}

.tim div {
  text-align: center;
  width: 250px;
}

.tim .img {
  box-shadow: 0px 5px 25px #ccc;
  border-radius: 3px;
}

section {
  padding: 50px 0px 50px 0px;
}

.aboutus {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutus .content .img {
  height: auto;
  width: 600px;
  max-width: 100%;
}

.text {
  width: 550px;
  max-width: 100%;
  padding: 0 10px;
}

.content {
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.text h1 {
  font-weight: 20px;
  font-size: 85px;
  color: #80dbf2;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.text h5 {
  font-size: 25px;
  margin-bottom: 25px;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.text p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 45px;
}

/*feature*/

#features {
  padding: 5vw 8vw 0 8vw;
  text-align: center;
}

#features .feature-base {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}

#features .feature-box {
  background-color: #f9f9ff;
  text-align: start;
  padding-left: 30px;
  padding-bottom: 30px;
}

#features .feature-box i {
  font-size: 2.3rem;
  color: rgb(44, 44, 80);
}

#features .feature-box h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(46, 46, 59);
  padding: 13px 0 7px 0;
}

#features .feature-box p {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  color: rgb(70, 70, 87);
}

#course {
  padding: 8vw 8vw 0 8vw;
  text-align: center;
}

#course .course-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}

#course .courses {
  text-align: start;
  background-color: #f9f9ff;
  height: 100%;
  position: relative;
  border-radius: 20px;
}

#course .courses img {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-position: center;
}

#course .courses .details {
  padding: 15px 15px 0 15px;
}

#course .courses .details i {
  color: #cabf14;
  font-size: 0.9rem;
}

#course .courses .cost {
  background-color: rgb(74, 74, 136);
  color: white;
  line-height: 70px;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  bottom: 100px;
}

.contact-us {
  text-align: center;
  width: 80%;
  max-width: 1300px;
  margin: auto;
  margin-top: 30px;
}

.contact-us .link-item {
  display: inline-block;
  border: 1px solid #E9E9E9;
  height: 80px;
  width: 360px;
  line-height: 80px;
  margin-right: 24px;
  border-radius: 6px;
  margin-bottom: 48px;
}




@media screen and (max-width: 1180px) {
  .aboutus {
    width: 100%;
    height: auto;
    padding: 70px 0px;
  }

}

@media screen and (max-width: 1180px) {
  .aboutus .content {
    margin-bottom: 35px;
  }

  .text h1 {
    font-size: 60px;
    margin-bottom: 25px;
  }

  .header {
    width: auto;
  }

  .pageatas {
    width: auto;
  }

  .pageatas .h1 {
    margin-top: 50px;
    text-align: center;
  }

  .pageatas .h3 {
    text-align: center;
  }

  .tombol {
    width: auto;
    text-align: left;
    margin-top: 30px;
  }


}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .gambarsamping img {
    display: none;
  }

  .header {
    width: auto;
  }

  .pageatas {
    width: auto;
  }

  .pageatas .h1 {
    margin-top: 20px;
    text-align: center;
  }

  .pageatas .h3 {
    text-align: center;
  }

  .tombol {
    width: auto;
    text-align: center;
  }

  .aboutus {
    width: 100%;
    height: auto;
    padding: 50px 0px;
  }

  .tim {
    display: grid;
    grid-template-columns: max-content;
    grid-gap: 1rem;
    margin-top: 50px;
  }


  .tim div {
    flex-direction: row;
  }

  .tim .img {
    flex-direction: row;
    justify-content: space-around;
  }


}